{% extends 'base.html.twig' %}

{% block title %}Categories
{% endblock %}

{% block body %}
	<div class="container">
		<h1 class="text-primary text-center mt-3">Liste des categories</h1><br>
		<br>
		{% include "layouts/_flash_message.html.twig" %}
		<table class="table">
			<thead>
				<tr>
					<th>Id</th>
					<th>Nom</th>
					<th>Actions</th>
				</tr>
			</thead>
			<tbody>
				{% for category in categories %}
					<tr>
						<td>{{ category.id }}</td>
						<td>{{ category.name }}</td>
						<td>
							<a href="{{ path('app_category_new', {'id': category.id}) }}" class="btn btn-success">Ajouter</a>
							|
							<a href="{{ path('app_category_update', {'id': category.id}) }}" class="btn btn-primary">Modifier</a>
							|
							<a href="{{ path('app_category_delete', {'id': category.id}) }}" class="btn btn-danger">Supprimer</a>
						</td>
					</tr>
				{% else %}
					<p class="text-primary">Aucune categorie ajouté pour l'instant</p>


				{% endfor %}
			</tbody>


		</table>
		<br>
		<a href="{{ path('app_category_new') }}" class="btn btn-primary">Ajouter une categorie</a>
	</div>

{% endblock %}
