{% extends 'base.html.twig' %}

{% block title %}Liste des sous catégories{% endblock %}

{% block body %}
<div class="container"><br><br>
    <h1 class="text-center mt-4 text-primary">Listes des sous catégories </h1><br>

    <table class="table">
        <thead>
            <tr>
                <th class="text-primary">Identifiant</th>
                <th class="text-primary">Name</th>
                <th class="text-primary">Catégorie</th>
                <th class="text-primary">actions</th>
            </tr>
        </thead>
        <tbody>
        {% for subcategory in subcategories %}
            <tr>
                <td>{{ subcategory.id }}</td>
                <td>{{ subcategory.name }}</td>
                <td>{{ subcategory.category.name }}</td> 
                <td>
                    <a class="btn btn-outline-primary" href="{{ path('app_subcategory_show', {'id': subcategory.id}) }}">détails</a>
                    <a class="btn btn-outline-danger" href="{{ path('app_subcategory_edit', {'id': subcategory.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_subcategory_new') }}" class="btn btn-outline-primary">Créé une sous catégorie</a>
</div>
{% endblock %}
