{% extends 'base.html.twig' %}

{% block title %}Categories
{% endblock %}

{% block body %}
	<div class="container">
		<h1 class="text-primary text-center mt-3">Liste des utillisateurs</h1><br>
		<br>
		{% include "layouts/_flash_message.html.twig" %}
		<table class="table">
			<thead>
				<tr>
					<th class="text-primary">Id</th>
					<th class="text-primary">Email</th>
					<th class="text-primary">Nom</th>
					<th class="text-primary">Prénom</th>
					<th class="text-primary">Roles</th>
					<th class="text-primary">Actions</th>
				</tr>
			</thead>
			<tbody>
				{% for user in users %}
					<tr>
						<td>{{ user.id }}</td>
						<td>{{ user.email }}</td>
						<td>{{ user.firstName }}</td>
						<td>{{ user.lastName }}</td>
						<td>
							{% for role in user.roles %}
								{{ role}}

							{% endfor %}
						</td>
						<td>
							{% if ('ROLE_ADMIN' in user.roles) == false  %}

								{% if ('ROLE_EDITOR' in user.roles) == false %}
									<a href="{{ path('app_user_to_editor', {'id': user.id}) }}" class="btn btn-outline-success">Ajouter éditeur</a>
								{% else %}
									<a href="{{ path('app_user_remove_editor_role', {'id': user.id}) }}" onclick="return confirm ('Voulez-vous vraiment retirer le role editeur a cette utilisateur ?')" class="btn btn-outline-danger">Supprimer</a>
								{% endif %}
							{% endif %}
						</td>
					</tr>
				</td>
			</tbody>
		</tr>
	{% else %}
		<p class="text-primary">Aucune categorie ajouté pour l'instant</p>


	{% endfor %}
</tbody></table><br><a href="{{ path('app_logout') }}" class="btn btn-outline-primary">Deconnexion</a></div>{% endblock %}
